[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=RP_sensor start
Exec=lxterminal -e "source /home/pi/RP_sensor/start.sh"
StartupNotify=false
Terminal=true
Hidden=false